In [141]:
import psycopg2
from psycopg2 import errors
from psycopg2 import sql
import json

In [16]:
con = psycopg2.connect(user='postgres', password='polines2015', host='localhost',port='5432',database='DVDRental')
cursor = con.cursor()

print('Information')

print(con.get_dsn_parameters())
cursor.execute("SELECT * from actor")
print('queri', cursor.fetchall())

cursor.close()
con.close()

Information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'DVDRental', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}
queri [(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (11, 'Zero', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (12, 'Karl', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (13, 'Uma', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (14, 'Vivien', 'Bergen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (15, 'Cuba', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (16, 'Fred', 'Costner', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (17, 'Helen', 'Voight', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (18, 'Dan', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (19, 'Bob', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (20, 'Lucille', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (21, 'Kirsten', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (22, 'Elvis', 'Marx', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (23, 'Sandra', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (24, 'Cameron', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (25, 'Kevin', 'Bloom', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (26, 'Rip', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (28, 'Woody', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (29, 'Alec', 'Wayne', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (30, 'Sandra', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (31, 'Sissy', 'Sobieski', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (32, 'Tim', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (33, 'Milla', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (34, 'Audrey', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (35, 'Judy', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (36, 'Burt', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (37, 'Val', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (38, 'Tom', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (39, 'Goldie', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (40, 'Johnny', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (41, 'Jodie', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (42, 'Tom', 'Miranda', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (43, 'Kirk', 'Jovovich', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (44, 'Nick', 'Stallone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (45, 'Reese', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (46, 'Parker', 'Goldberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (48, 'Frances', 'Day-Lewis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (49, 'Anne', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (50, 'Natalie', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (51, 'Gary', 'Phoenix', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (52, 'Carmen', 'Hunt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (53, 'Mena', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (54, 'Penelope', 'Pinkett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (55, 'Fay', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (56, 'Dan', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (57, 'Jude', 'Cruise', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (58, 'Christian', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (59, 'Dustin', 'Tautou', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (60, 'Henry', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (61, 'Christian', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (62, 'Jayne', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (63, 'Cameron', 'Wray', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (64, 'Ray', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (65, 'Angela', 'Hudson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (66, 'Mary', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (67, 'Jessica', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (68, 'Rip', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (69, 'Kenneth', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (70, 'Michelle', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (71, 'Adam', 'Grant', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (72, 'Sean', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (73, 'Gary', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (74, 'Milla', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (75, 'Burt', 'Posey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (76, 'Angelina', 'Astaire', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (77, 'Cary', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (78, 'Groucho', 'Sinatra', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (79, 'Mae', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (80, 'Ralph', 'Cruz', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (81, 'Scarlett', 'Damon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (82, 'Woody', 'Jolie', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (83, 'Ben', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (84, 'James', 'Pitt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (85, 'Minnie', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (143, 'River', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (86, 'Greg', 'Chaplin', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (87, 'Spencer', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (88, 'Kenneth', 'Pesci', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (89, 'Charlize', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (90, 'Sean', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (91, 'Christopher', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (92, 'Kirsten', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (94, 'Kenneth', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (95, 'Daryl', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (96, 'Gene', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (97, 'Meg', 'Hawke', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (98, 'Chris', 'Bridges', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (99, 'Jim', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (100, 'Spencer', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (101, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (102, 'Walter', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (103, 'Matthew', 'Leigh', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (104, 'Penelope', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (105, 'Sidney', 'Crowe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (106, 'Groucho', 'Dunst', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (107, 'Gina', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (108, 'Warren', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (109, 'Sylvester', 'Dern', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (110, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (111, 'Cameron', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (112, 'Russell', 'Bacall', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (113, 'Morgan', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (114, 'Morgan', 'Mcdormand', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (115, 'Harrison', 'Bale', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (116, 'Dan', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (117, 'Renee', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (118, 'Cuba', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (119, 'Warren', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (120, 'Penelope', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (121, 'Liza', 'Bergman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (122, 'Salma', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (123, 'Julianne', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (124, 'Scarlett', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (125, 'Albert', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (126, 'Frances', 'Tomei', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (127, 'Kevin', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (128, 'Cate', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (129, 'Daryl', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (130, 'Greta', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (131, 'Jane', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (132, 'Adam', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (133, 'Richard', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (134, 'Gene', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (135, 'Rita', 'Reynolds', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (136, 'Ed', 'Mansfield', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (137, 'Morgan', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (138, 'Lucille', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (139, 'Ewan', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (140, 'Whoopi', 'Hurt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (141, 'Cate', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (142, 'Jada', 'Ryder', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (144, 'Angela', 'Witherspoon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (145, 'Kim', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (146, 'Albert', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (147, 'Fay', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (148, 'Emily', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (149, 'Russell', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (150, 'Jayne', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (151, 'Geoffrey', 'Heston', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (152, 'Ben', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (153, 'Minnie', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (154, 'Meryl', 'Gibson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (155, 'Ian', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (156, 'Fay', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (157, 'Greta', 'Malden', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (158, 'Vivien', 'Basinger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (159, 'Laura', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (160, 'Chris', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (161, 'Harvey', 'Hope', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (162, 'Oprah', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (163, 'Christopher', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (164, 'Humphrey', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (165, 'Al', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (166, 'Nick', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (167, 'Laurence', 'Bullock', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (168, 'Will', 'Wilson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (169, 'Kenneth', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (170, 'Mena', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (172, 'Groucho', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (173, 'Alan', 'Dreyfuss', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (174, 'Michael', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (175, 'William', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (176, 'Jon', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (177, 'Gene', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (178, 'Lisa', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (179, 'Ed', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (180, 'Jeff', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (181, 'Matthew', 'Carrey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (182, 'Debbie', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (183, 'Russell', 'Close', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (184, 'Humphrey', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (185, 'Michael', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (187, 'Renee', 'Ball', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (188, 'Rock', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (189, 'Cuba', 'Birch', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (190, 'Audrey', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (191, 'Gregory', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (192, 'John', 'Suvari', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (193, 'Burt', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (194, 'Meryl', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (195, 'Jayne', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (196, 'Bela', 'Walken', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (197, 'Reese', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (198, 'Mary', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (200, 'Thora', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

In [548]:
#user='postgres', password='polines2015', host='localhost',port='5432',database='DVDRental' modifikasi

class MyDatabase():
    def __init__(self, db="DVDRental", user="postgres", pw="polines2015", port="5432"):
        self.conn = psycopg2.connect(database=db, user=user, password=pw, port=port )
        self.cur = self.conn.cursor()

    def queryDDL(self, query):
        try:
            self.cur.execute(query)
            self.conn.commit()
            print('oke')
        except Exception as err:
            print('Error', err)
    
    def createTable(self, tableName, colomn):
        try:
            self.tablename=tableName
            self.colomn=colomn
            self.cur.execute('create table if not exists {} ({})'.format(self.tablename, self.colomn))
            self.conn.commit()
            print('oke')
        except Exception as err:
            print('Error', err)
    
    def listTable(self, query):
        self.cur.execute(query)
        print('list of table')
        record = self.cur.fetchall()
        print(record)

    def dropTable(self, tablename):
        try:
            self.tablename=tablename
            self.cur.execute('drop table {}'.format(self.tablename))
            self.conn.commit()
            print('deleted')
        except Exception as err:
            print('Error', err)
    
    def readJson(self, masukanDict):
        self.masukanDict=masukanDict
        b=''
        e=0
        for key in self.masukanDict:
            
            #print(key.values())
            if key['is_primary_key']==True:
                key['is_primary_key']='primary key'
            else:
                key['is_primary_key']=' '
            if key['is_unique']==True:
                key['is_unique']='Unique'
            else:
                key['is_unique']=' '    
            #print(key.values())

        for x in range(len(self.masukanDict)):
            c=''
            for a in self.masukanDict[x].values():
            #print(a)
                d=str(a)
                c=c+' '+d
                #print(c)
            if x==len(self.masukanDict)-1:
                b=b+c
            else:
                b=b+c+','
        return b

    def close(self):
        self.cur.close()
        self.conn.close()
    
    

db = MyDatabase()
#db.listTable("select nspname||'.'||relname from pg_class join pg_namespace on relnamespace = pg_namespace.oid where relkind='r' and relname !~ '^(pg_|sql_)'")

#db.close()

In [541]:
j=db.readJson(json_dictionary)

In [549]:
db.createTable('percobaan_7',j)

oke

In [438]:
def readJsonFilebeta(self, **data):
    b=[]
    for key in json_dictionary:
        c=''
        #print(key.values())
        if key['is_primary_key']==True:
            key['is_primary_key']='primary key'
        else:
            key['is_primary_key']=' '

        if key['is_unique']==True:
            key['is_unique']='Unique'
        else:
            key['is_unique']=' '    
        print(key.values())
    
    for a in key.values():
        print(a)
        d=str(a)
        c=c+' '+d
    b.append(c)    
    return b

In [537]:
def readJsonFile(inputdata):
    b=''
    e=0
    for key in inputdata:
        
        #print(key.values())
        if key['is_primary_key']==True:
            key['is_primary_key']='primary key'
        else:
            key['is_primary_key']=' '
        if key['is_unique']==True:
            key['is_unique']='Unique'
        else:
            key['is_unique']=' '    
        #print(key.values())

    for x in range(len(json_dictionary)):
        c=''
        for a in json_dictionary[x].values():
        #print(a)
            d=str(a)
            c=c+' '+d
            #print(c)
        if x==len(json_dictionary)-1:
            b=b+c
        else:
            b=b+c+','
    return b

In [410]:
b=''
for x in range(len(json_dictionary)):
   
    c=''
    #print(x)
    for a in json_dictionary[x].values():
        
        d=str(a)
        #print(d)
        c=c+' '+d
    #b=b+c
    
    if x==len(json_dictionary)-1:
        print(x)
        b=b+c   
    else:
        b=b+c+','
b

4

' first_name varchar(256)     NOT NULL, last_name varchar(256)     NOT NULL, email varchar(256)     NOT NULL, address varchar(256)     NOT NULL, created_at timestamp     NOT NULL'

In [539]:
kolom=readJsonFile(json_dictionary)
kolom

' first_name varchar(256)     NOT NULL, last_name varchar(256)     NOT NULL, email varchar(256)     NOT NULL, address varchar(256)     NOT NULL, created_at timestamp     NOT NULL'

In [413]:
fileJson=open(r'C:\Users\Syrico\Documents\SIRCLO\Data Engineer Test _ SIRCLO (2)\de-sirclo-skill-test\sql\schemas\user_address.json')
json_dictionary = json.load(fileJson)
json_dictionary

[{'column_name': 'first_name',
  'column_type': 'varchar(256)',
  'is_primary_key': False,
  'is_unique': False,
  'is_null_able': 'NOT NULL'},
 {'column_name': 'last_name',
  'column_type': 'varchar(256)',
  'is_primary_key': False,
  'is_unique': False,
  'is_null_able': 'NOT NULL'},
 {'column_name': 'email',
  'column_type': 'varchar(256)',
  'is_primary_key': False,
  'is_unique': False,
  'is_null_able': 'NOT NULL'},
 {'column_name': 'address',
  'column_type': 'varchar(256)',
  'is_primary_key': False,
  'is_unique': False,
  'is_null_able': 'NOT NULL'},
 {'column_name': 'created_at',
  'column_type': 'timestamp',
  'is_primary_key': False,
  'is_unique': False,
  'is_null_able': 'NOT NULL'}]

In [307]:
type(kolom)

tuple

In [343]:
db.queryDDL('create table if not exists percobaan_5 ({})'.format(kolom))

Error syntax error at or near ")"
LINE 1: ...rchar(256)     NOT NULL, created_at timestamp     NOT NULL,)
                                                                      ^

In [322]:
kolom[0]

'('

In [148]:
col_list = sql.SQL(',').join( [sql.Identifier(col["column_name"]) + sql.SQL(' ') + sql.SQL(col["column_type"]) for col in json_dictionary])

In [149]:
print(col_list)

Composed([Composed([Identifier('first_name'), SQL(' '), SQL('varchar(256)')]), SQL(','), Composed([Identifier('last_name'), SQL(' '), SQL('varchar(256)')]), SQL(','), Composed([Identifier('email'), SQL(' '), SQL('varchar(256)')]), SQL(','), Composed([Identifier('address'), SQL(' '), SQL('varchar(256)')]), SQL(','), Composed([Identifier('created_at'), SQL(' '), SQL('timestamp')])])

In [71]:
kolom=readJsonFile(json_dictionary)

In [72]:
kolom

[['first_name', 'varchar(256)', False, False, 'NOT NULL'],
 ['last_name', 'varchar(256)', False, False, 'NOT NULL'],
 ['email', 'varchar(256)', False, False, 'NOT NULL'],
 ['address', 'varchar(256)', False, False, 'NOT NULL'],
 ['created_at', 'timestamp', False, False, 'NOT NULL']]

In [73]:
kolom[0]

['first_name', 'varchar(256)', False, False, 'NOT NULL']

In [77]:
queryDDL('create table if not exist percoban5 (kolom)')

NameError: name 'queryDDL' is not defined

In [428]:
db.dropTable('percobaan_1')

deleted

In [306]:
db2=('frist_name varchar(256) primary key unique, second_name varchar')
type(db2)

str

In [419]:
db.queryDDL('create table if not exists percobaan_5 ({})'.format(kolom))

oke

In [530]:
contoh1=[{'nama':'jono','kelas':8},{'nama':'kipli','kelas':7}]
contoh2={'nama':'bedmen','kelas':10}

In [535]:
def read1(contoh1):
    print(contoh1)

In [536]:
read1(contoh1)

[{'nama': 'jono', 'kelas': 8}, {'nama': 'kipli', 'kelas': 7}]

In [505]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

In [506]:
intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

In [507]:
bb=[{'Firstname':'Sita','Lastname':'Situ'},]

In [529]:
intro(**bb)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Situ